OPENAI_API_KEY=
GOOGLE_AI_API_KEY=
# GOOGLE_AI_API_KEY=AIzaSyDR76zAaWUPp3Mw-N6zySb-I06q3_el4m8
PROXY=
UNLOCK_PROXY=
BRIGHT_DATA_API_KEY=
ENV=dev

# EMAIL 관련
BREVO_KEY=

# SMS ALIGO
ALIGO_KEY=

# DB 관련
DATABASE_URL="mysql+pymysql://your_mysql_user:your_mysql_password@your_mysql_host:3306/your_database_name"
SECRET_KEY=

# PIXABAY 관련
PIXABAY_API_KEY=

KUBE_API_BASE=

#어드민 아이디
ADMIN_USER_IDS=test

#openRouter 키
OPEN_ROUTER_API_KEY=
